In [ ]:
#simple print statement
print("hello veeresh")

hello veeresh

In [ ]:
#datatypes
a=10
b="10"
c="word"
d=None
e='word'
f=True
g=False
h=10.5
print(type(h),type(g))     #type function- to find the datatype of the variable
print(id(a))               #id is a function to find memory location

<class 'float'> <class 'bool'>
140714309154200

In [ ]:
#arithmetic operators
A=10
B=12
C=A%B
print("The remainder is:",C)

The remainder is: 10

In [36]:
#assignment operators
j=10
j+=10
print(j)

20

In [ ]:
#relational operators
a=10
b=12
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)
print(a>b)
print(a<b)

False
True
True
False
False
True

In [39]:
#logical operators
a=True
b=False

print(a and b)
print(a or b)
print(not a)

False
True
False

AND-
T AND T =T
T AND F =F
F AND T =F
F AND F =F

OR-
T OR T =T
T OR F =T
F OR T =T
F OR F =F

NOT-
NOT T= F
NOT F= T

In [43]:
#input function
a=input("enter your name")
print("Hello",a)
print(type(a))

Hello srilakshmi
<class 'str'>

In [ ]:
#typecasting- changing datatype of another datatype
a=float(input("enter a value for a"))
b=int(input("enter a value for b"))
sum=a+b
print("The sum of values entered is:",sum)

The sum of values entered is: 22

QUESTION- WRITE A PROGRAM TO INPUT SIDE OF A SQUARE AND PRINT ITS AREA

PSEUDOCODE-

BEGIN
WRITE INPUT STATEMENT
TAKE INPUT AS SIDE OF SQUARE
CALCULATE AREA
PRINT AREA
END

In [45]:
side=float(input("Enter the side of the square"))
area=side*side
print("The area of the square is:",area)

The area of the square is: 144.0

In [ ]:
#f-string formatting
name="sam"
age=25
salary=25000.8877899
print("The name is",name,"The age is",age)
print(f"The name is {name} and the age is {age}")
print(f"Salary is:{salary:.3f}")   #precision

The name is sam The age is 25
The name is sam and the age is 25
Salary is:25000.888

In [ ]:
#padding
num=42
print(f"{num:05d}")

00042

In [ ]:
#alignment
text="python"
print(f"{text:<10}")   #left alignment
print(f"{text:^10}")   #center alignment
print(f"{text:>10}")   #right alignment

python
  python
    python