In [1]:
#simple print statement
a=6
a=7
6
print("hello name")
print()

hello name

In [ ]:
#datatypes
a=10
b="10"
c="word"
d=None
e='word'
f=True
g=False
h=10.5
print(type(h),type(g))     #type function- to find the datatype of the variable
print(id(a))               #id is a function to find memory location

<class 'float'> <class 'bool'>
140714309154200

In [ ]:
#arithmetic operators
A=10
B=12
C=A%B
print("The remainder is:",C)

The remainder is: 10

In [4]:
#assignment operators
j=5
j+=10   
print(j)

15

In [6]:
#relational operators
a=10
b=12
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)
print(a>b)
print(a<b)

False
True
True
False
False
True

In [39]:
#logical operators
a=True
b=False

print(a and b)
print(a or b)
print(not a)

False
True
False

AND-
T AND T =T
T AND F =F
F AND T =F
F AND F =F

OR-
T OR T =T
T OR F =T
F OR T =T
F OR F =F

NOT-
NOT T= F
NOT F= T

In [2]:
#input function
a=input("enter your name")
print("Hello",a)
print(type(a))

Hello rajesh
<class 'str'>

In [4]:
#typecasting- changing datatype of another datatype
a=(input("enter a value for a"))
b=(input("enter a value for b"))
sum=a+b
print("The sum of values entered is:",sum)

The sum of values entered is: 1213

QUESTION- WRITE A PROGRAM TO INPUT SIDE OF A SQUARE AND PRINT ITS AREA

PSEUDOCODE-

BEGIN
WRITE INPUT STATEMENT
TAKE INPUT AS SIDE OF SQUARE
CALCULATE AREA
PRINT AREA
END

In [45]:
side=float(input("Enter the side of the square"))
area=side*side
print("The area of the square is:",area)

The area of the square is: 144.0

In [ ]:
#f-string formatting
name="sam"
age=25
salary=25000.8877899
print("The name is",name,"The age is",age)
print(f"The name is {name} and the age is {age}")
print(f"Salary is:{salary:.3f}")   #precision

The name is sam The age is 25
The name is sam and the age is 25
Salary is:25000.888

In [ ]:
#padding
num=42
print(f"{num:05d}")

00042

In [ ]:
#String basics

a='this is a string'
b="this is also a string"
c='''this is also another string'''

d="this is deepak's class"

In [21]:
#concatenation -join strings
a=5+6
print(a)
a=5+
a="mango"
b="apple"
d=a+b
c=a+" "+b
print(c)
print(d)

SyntaxError: invalid syntax (900095886.py, line 4)

In [13]:
#length-len()- to find the length of a string
print(len(a))

5

In [20]:
#sep and end
print(26,27,28)
print(26,27,28,sep=':')  #seperator
print(26,27,28)
print('hello','world',end="*") #ending each string
print('\nloading',end='....')
print('done')   
print("hello\"world")
#escape sequences
print('hi this is my \nfirst class')
print('hi this is my first \tfirst class')

26 27 28
26:27:28
26 27 28
hello world*
loading....done
hello"world
hi this is my
first class
hi this is my first 	first class

In [23]:
#string indexing- accessing
#string is immutable through indexing

name='srilakshmi'
print(name[-3])

h

In [ ]:
new='this@is a string'
print(new[4])  #positive indexing
print(new[-5]) #negative indexing

@
t

In [26]:
#slicing strings
#[start:stop]
#[start:stop:step]
#string[start:stop:step]
apple="this is a new string"
print(apple[0:6])
print(apple[:])
print(apple[:7])
print(apple[1:7:2])
print(apple[-5:-1])

this i
this is a new string
this is
hsi
trin