In [ ]:
#lists
marks1=35
marks2=45
marks3=65
marks4=45
marks5=87

students=[35,45,65,45,87]  #can store same datatype data
print(type(students))
students1=[36,'mango',34.7,True] #can store multiple datatype data #heterogenous
print(type(students1))

<class 'list'>
<class 'list'>

In [ ]:
#string into list
list2=list("this is a list")
print(list2)
print(type(list2))

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 'l', 'i', 's', 't']
<class 'list'>

In [ ]:
#repeating list
list3=[1]*5
print(list3)

[1, 1, 1, 1, 1]

In [ ]:
#indexing in lists
fruits=['banana','mango','strawberry']
print(fruits[0])
print(fruits[-1])

banana
strawberry

In [3]:
#slicing in lists
#[start:stop:step]
fruits=['banana','mango','strawberry','grapes','orange']
print(fruits[1:3])
print(fruits[0:2])
print(fruits[-4:-1])
print(fruits[0:3:2])
print(fruits[::-1])  #reverse a list

['mango', 'strawberry']
['banana', 'mango']
['mango', 'strawberry', 'grapes']
['banana', 'strawberry']
['orange', 'grapes', 'strawberry', 'mango', 'banana']

In [11]:
#lists are mutable in nature
list2=[10,20,30,40]
list2[0]=100
print(list2)

[100, 20, 30, 40]

In [12]:
#list methods- .append, .insert , .remove, .pop
list2=[10,20,30,40]  
list2.append(50)   #append is adding a value to the end of the list
print(list2)

list2=[10,20,30,40]  
list2.append([50,60,70]) 
print(list2)

list2.insert(1,35)  #insert is to add a value using index position
print(list2)
list2.remove(35)  #exact value to be removed from the list
print(list2)
list2.pop()  #by default removes the last value
print(list2)
list2.pop(1) #removing element using index position
print(list2)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, [50, 60, 70]]
[10, 35, 20, 30, 40, [50, 60, 70]]
[10, 20, 30, 40, [50, 60, 70]]
[10, 20, 30, 40]
[10, 30, 40]

In [20]:
a=[1,2,3]
b=[4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [13]:
marks=[78,102,96]
marks.sort()  #sorts the list
print(marks)
marks=[45,89,21]
marks.reverse() #reverses the list
print(marks)
marks.clear() #remove everything
print(marks)

[78, 96, 102]
[21, 89, 45]
[]

In [5]:
nums=[10,60,78,89]
print(nums.index(78))  #gives position of item
nums2=[1,2,3,3,2,2,"banana","banana"]
print(nums2.count("banana"))   #count occurrences
a=[1,2,3]
b=a.copy()         #creating a shallow copy
print(b)
print(len(nums2))    #length of list

2
2
[1, 2, 3]
8

In [12]:
#deepcopy -full copy, for deepcopy we import copy module because it's not a inbuilt method

import copy
a=[[1,2],[3,4]]
b=copy.deepcopy(a)
b[0][0]=100
print(a)
print(b)

[[1, 2], [3, 4]]
[[100, 2], [3, 4]]

In [ ]:
#Tuples - used when you need data safety,fixed records

nums=(10,20,30)  #packing a tuple
print(nums[0]) #accessing a tuple element using index (unpacking a tuple)

10

In [14]:
#slicing in tuples

nums=(10,20,30,40)

print(nums[1:4])
print(nums[:3])

(20, 30, 40)
(10, 20, 30)

In [6]:
#tuple methods
nums=(1,2,4,3,2,3,3)
print(nums.count(2)) #count
print(nums.index(3)) #prints first index of the value

2
3

In [ ]:
#built in functions that can be used against tuples
nums=(10,20,30)
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))

3
30
10
60

In [7]:
#Sets

numbers={10,20,40,20,10}
print(numbers)
print(type(numbers))

{40, 10, 20}
<class 'set'>

In [8]:
numbers=set([1,2,3,4])
print(numbers)
print(type(numbers))

{1, 2, 3, 4}
<class 'set'>

In [9]:
numbers=set("white")
print(numbers)
print(type(numbers))

{'w', 'e', 'i', 't', 'h'}
<class 'set'>

In [18]:
#set methods
#adding elements
colors=set(["red","green","blue"])
colors.add("yellow")
print(colors)
colors.update(["black","white"])
print(colors)

{'green', 'yellow', 'red', 'blue'}
{'green', 'red', 'blue', 'black', 'yellow', 'white'}

In [ ]:
#removes duplicates
a=[1,2,3,3,4,4,5]
b=set(a)
print(b)

{1, 2, 3, 4, 5}

In [19]:
colors.remove("blue")
print(colors)

{'green', 'red', 'black', 'yellow', 'white'}

In [6]:
#removing elements

print(colors)
colors.pop()
print(colors)
colors.clear()    #removing all elements
print(colors)

{'white', 'black', 'green', 'red', 'yellow'}
{'black', 'green', 'red', 'yellow'}
set()

| Method                     | Meaning                          | Example                     | Output              |

union()               | Combines elements from both      | `A.union(B)`                | `{1,2,3,4,5,6,7,8}` |
# | **intersection()**         | Common elements                  | `A.intersection(B)`         | `{4,5}`             |
# | **difference()**           | Elements only in A               | `A.difference(B)`           | `{1,2,3}`           |
# | **symmetric_difference()** | Elements not in both             | `A.symmetric_difference(B)` | `{1,2,3,6,7,8}`     |
# | **update()**               | Adds items from another set to A | `A.update(B)`               | modifies A          |
# | **difference_update()**    | Removes common elements          | `A.difference_update(B)`    | modifies A          |
# | **issubset()**             | True if all of A in B            | `{1,2}.issubset(A)`         | True                |
# | **issuperset()**           | True if A contains all of B      | `A.issuperset({1,2})`       | True                |
# | **isdisjoint()**           | True if no common elements       | `{9,10}.isdisjoint(A)`      | True

In [7]:
#set operations-

a={1,2,3}
b={4,5,6}
#union
#a | b
print(a.union(b))   #union gives all unique elements
#intersection
#a & b
print(a.intersection(b))  #common elements
#a-b
a.difference(b)
#symmetric difference        #elements in A not in B
#a^b
a.symmetric_difference(b)  #elements in either but not both

a={1,2,3,[1,2,3],"python"}
print(a)

{1, 2, 3, 4, 5, 6}
set()

TypeError: cannot use 'list' as a set element (unhashable type: 'list')

In [46]:
#Dictionaries-

student={"name":"Alex","age":22,"marks":85}
print(student["name"])  #calling/accessing data through key instead of index

Alex

In [47]:
#dictionary methods
#adding/updating a dictionary

student["city"]="Bangalore"
student["Age"]=23
print(student)

#removing items

student.pop("marks")  #remove key
student.popitem()      #remove last item
del student["age"]
print(student)

{'name': 'Alex', 'age': 22, 'marks': 85, 'city': 'Bangalore', 'Age': 23}
{'name': 'Alex', 'city': 'Bangalore'}

In [ ]:
#keys and values
print(student.keys()) #gives only keys
print(student.values()) #give only values
print(student.items())  #entire dictionary

dict_keys(['name', 'city'])
dict_values(['Alex', 'Bangalore'])
dict_items([('name', 'Alex'), ('city', 'Bangalore')])

In [ ]:
#other common methods
student.update({"marks":90,"city":"Hyderabad"})
print(student)
backup= student.copy()
student.clear()

{'name': 'Alex', 'city': 'Hyderabad', 'marks': 90}

In [48]:
#nested dictionaries

#dictionary inside a dictionary

employee={"id":101,"details":{"name":"John","age":45,"salary":67000}}
print(employee["details"]["salary"])

67000

In [49]:
#list of dictionaries
students=[{"name":"Alex","marks":85},{"name":"Sam","marks":90}]
print(students[1]["name"])

Sam

Feature          List      Tuple    Set    Dictionary

ordered          yes        yes     no       yes
mutable          yes        no      yes      yes
key-value        no         no      no       yes
duplicates       yes        yes     no       keys-no

BITWISE OPERATORS

binary and &     -  both bits if 1 = 1
binary or  |     - either bits must be 1
binary xor ^     - either one of the bits only must be one
negation   ~     - if the bit is one then output is 0 and if bit is 0 then output is 1
left shift <<    - shifting towards left and adding zeros at the right
right shift >>   - shifting towards right and dropping bits

bitwise &  -- T & T --> T
              T & F --> F
              F & T --> F
              F & F --> F


bitwise |  -- T | T --> T
              T | F --> T
              F | T --> T
              F | F --> F

bitwise ^  -- T ^ T --> F
              T ^ F --> T
              F ^ T --> T
              F ^ F --> F

negation ~  --> ~x=-(x+1)  2's complement formula

In [6]:
print(5&3)      
print(5|3)
print(5^3)
print(~5)
print(5<<1)
print(5>>1)

1
7
6
-6
10
2

#SETS HASHABILITY-
#set elements must not change

{1,"Python",(1,2,3)} --> allowed/valid set
{[1,2,3]} --> not valid

#dictionary get method-

.get()- is a safe method to read values from a dictionary

it avoids errors when key is missing

syntax-
dictionary_name.get(key,default_value)

In [13]:
student={"name":"Alex","age":22}
print(student.get("marks"))
print("hello")
print(student.get("marks",0))

None
hello
0

In [ ]:
#set() method