Loops-

A loop helps us repeat the same task again and again without writing the same code many times

example-
writing attendance for 30 students
printing numbers from 1 to 100
checking marks for each subject

Types of loops-
for loop
while loop

FOR LOOP-

A for loop takes one item at a time from a collection and works on it.

syntax-
for item in collection:
    print(item)

collection-list/string/range
item-temporary variable

In [ ]:
#basic example

for p in range(5):   
    print(p)

#range(5) ->numbers from 0 to 4
#i takes one value at a time
#print(i) runs repeatedly until the for loop condition is true

0
1
2
3
4

In [ ]:
#print numbers 1 to 5

for i in range(1,6):    
    print(i)

1
2
3
4
5

In [ ]:
#for loop with list items

fruits=["mango","banana","apple"]
for i in fruits:
    print(i)

mango
banana
apple

In [ ]:
#loop through a string

name="Python"

for letter in name:
    print(letter)

#strings are a collection of characters

P
y
t
h
o
n

In [13]:
#numbers list
numbers=[10,20,30]

for n in numbers:
    print(n*2)

20
40
60

In [16]:
#for loop with a dictionary

student={"name":"alex","age":22}

for value in student.values():
    print(value)

alex
22

In [18]:
student={"name":"alex","age":22}

for key in student:
    print(key)

name
age

In [27]:
#looping through key-value pairs
for key,value in student.items():
    print(key,":",value)

name : alex
age : 22

In [ ]:
#print even numbers from 0-10

for i in range(0,11,2):    #start,stop,step   
    print(i)

0
2
4
6
8
10

For loop exercise-

1. create a list of sales amount values,take a variable to caculate sum of each element in the list and print total amount

2. count number of items in a list using for loop and print count

items=["apple","banana","mango","grapes"]

3. Take a list of scores calculate total score and print both total and average of the scores.

4. Take a string as "python" count letters in it and print the total letter count in the string.

In [ ]:
sales=[1000,2000,3000,4000,5000]
total=0

for amount in sales:
    total=total + amount
print(total)

15000

In [7]:
items=["apple","banana","mango","grapes"]
count=0

for item in items:
    count=count+1
print(count)

4

In [8]:
word="Python"
count=0

for letter in word:
    count=count+1
print(count)

6

In [ ]:
#count only items greater than 50

items=[50,70,60,30,40]
count=0

for i in items:
    if i>50:
        count=count+1
print(count)

2

In [ ]:
#count only even numbers
numbers=[1,2,3,4,5,6,7]

count=0

for i in numbers:
    if i%2==0:
        count=count+1

print(count)

4

In [10]:
print(1%2)
print(2%2)
print(3%2)
print(4%2)
print(5%2)
print(6%2)

1
0
1
0
1
0

In [14]:
#count non-empty values

data=["apple","","banana","","mango",""]
count=0

for item in data:
    if item!="":
        count=count+1
print(count)

3

In [18]:

data=["apple","","banana","","mango"]
count=0

for item in data:
    if item:
        count=count+1
print(count)

3

In [21]:
#print high or low
#print high for sales>100 low for sales<100
sales=[80,150,60,200]

for sale in sales:
    if (sale>100):
        print(sale,"high")
    else:
        print(sale,"low")

80 low
150 high
60 low
200 high

In [ ]:
#replace values
#replace 0 with missing

data=[10,0,20,0,30]
cleaned_data=[]

for value in data:
    if value==0:
        cleaned_data.append("missing")
    else:
        cleaned_data.append(value)
print(cleaned_data)

[10, 'missing', 20, 'missing', 30]